@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-sans text-text bg-white leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading font-bold leading-tight;
  }
}